$blue: #14181F;
$blue-light: #272A31;
$blue-dark: #0A0C10;

$red: #EA1D22;
$red-light: #F02A2F;
$red-dark: #B31317;

$white: #EDF1F7;
$white-light: #F4F7FB;
$white-dark: #E5E9EF;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;


$errorcolor: #F00E0E;
$validcolor: #0ADD0A;

